:root {
    --color-borders: #3f3f46;
    --color-borders-hover: #a4a4ba;
    --color-text: #efefef;
    --color-text-secondary: #b0b0b0;

    --color-background: #16171b;
    --color-background-secondary: #222327;
    --color-background-light: #303133;

    --btn-color: #bb432c;
    --btn-color-hover: #a4422e;
    --ui-red: #bb432c;
    --ui-yellow: #ecb613;
}
