:root {
    --color-borders: #3f3f46;
    --color-text: #efefef;
    --color-text-secondary: #b0b0b0;

    --color-background: #16171b;
    --color-background-secondary: #222327;
    --color-background-light: #303133;
}
